<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.band.mapper.BandCoverMapper">
  
  <insert id="insert" >
  insert into bandCover (bandImgId, color) values
  ( #{bandImgId}, #{color})
  </insert>

  <update id="update"> 
  update bandCover set bandImgId = #{bandImgId}, color = #{color}
  where id=#{id}
  </update>

  <delete id="delete">
  delete from bandCover
  where id=#{id} 
  </delete>

  <select id="findBandCover" resultType="com.band.domain.BandCover" >
  <![CDATA[
  	select * from bandCover
  	where bandImgId = #{bandImgId} and color = #{color}
  ]]>
  </select>
</mapper>