<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.band.mapper.BandAccountMapper">
  
  <insert id="insert" >
  insert into bandAccount(accountId, bandId, bandAccountImgUrl, nickname, profile) values
  ( #{accountId}, #{bandId}, #{bandAccountImgUrl}, #{nickname}, #{profile})
  </insert>

  <update id="update"> 
  update bandAccount set accountId = #{accountId}, bandId =#{bandId}, bandAccountImgUrl = #{bandAccountImgUrl}
  nickname = #{nickname}, profile = #{profile} where id=#{id}
  </update>

  <delete id="delete">
  delete from bandAccount
  where id=#{id} 
  </delete>

  <select id="countBand" resultType="int">
	<![CDATA[
	select count(*) as count from bandAccount where accountId = #{accountId}
	]]>
  </select>
</mapper>