<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.band.mapper.CommentMapper">
  
  <insert id="insert" >
  insert into comment (accountId , postId, comment) values
  ( #{accountId}, #{postId}, #{comment})
  </insert>

  <update id="update"> 
  update comment set accountId=#{accountId}, postId =#{postId}, comment = #{comment}
   where id=#{id}
  </update>

  <delete id="delete">
  delete from comment
  where id=#{id} 
  </delete>

</mapper>